h1, h2, h3, p, div, ul, li, a, body, header {
    margin: 0;
    padding: 0;
}

body {
    color: #404040;
}

h1, h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    width: 100%;
}

h1 {
    color: black;
    font-size: 72px;
}

.center {
    text-align: center;
}

h2 {
    color: #606060;
    font-size: 32px;
}

h2.title {
    color: #a0a0a0;
}

p, ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#title-card {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-bottom: 20px;
}

#title-card-contents {
    align-self: center;
    padding-bottom: 5vh;
}

li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.icon-list li a {
    color: #404040;
    font-size: 17px;
    transition-duration: 0.3s;
    margin-right: 48px;
}

ul.icon-list li a:hover {
    color: #488dd8;
}

i.fa {
    margin-right: 12px;
}

a {
    text-decoration: none;
    font-weight: 300;
}

#body-content {
    position: relative;
    top: 100%;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20vh;
    min-width: 280px;
    max-width: 520px;
}

div.split {
    display: inline-block;
    margin-top: 24px;
    width: 100%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 32px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }
}
