h1, h2, p, div, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    color: #404040;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 500px;
    min-width: 300px;
    width: 75%;
}

h1, h2 {
    font-family: 'Bitter', serif;
    font-weight: 400;
}

h2 {
    color: #808080;
}

p, ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#title-card {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 24px;
}

li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.icon-list li a {
    color: #404040;
    font-size: 17px;
    transition-duration: 0.3s;
    margin-right: 48px;
}

ul.icon-list li a:hover {
    color: #488dd8;
}

i.fa {
    margin-right: 12px;
}

a {
    text-decoration: none;
    font-weight: 600;
}

div.split {
    display: inline-block;
    margin-top: 24px;
    width: 100%;
}

